<!DOCTYPE html>
<html>
<head>
    <title>Shoenique | Home</title>
    <style>
        body { font-family: Arial; background: #fafafa; }
        .product { border: 1px solid #ccc; padding: 10px; margin: 10px; display: inline-block; width: 200px; text-align: center; background: white; }
        img { max-width: 100%; height: auto; }
    </style>
</head>
<body>
    <h1>Welcome to Shoenique🥿 </h1>
    <div>
        {% for product in products %}
            <div class="product">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% endif %}
                <h3><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>

                <p>₹{{ product.price }}</p>
                <p>{{ product.description }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
