{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="auth-section d-flex justify-content-center align-items-center">
  <div class="auth-card p-5">
    <h2 class="text-center mb-4 fw-bold">Welcome Back!</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control glass-input" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control glass-input" required>
      </div>
      <button type="submit" class="btn btn-login w-100 mt-3">Login</button>
    </form>
    <p class="text-center mt-3">
      Don’t have an account? 
      <a href="{% url 'accounts:register' %}" class="register-link">Register</a>
    </p>
  </div>
</section>
{% endblock %}
